<div class="jumbotron">
    <h1>Digital Photo Frame</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel elit eu justo elementum pharetra. Suspendisse pharetra sit amet ante vel tristique. Phasellus facilisis non turpis a sagittis. Cras massa purus, iaculis ut purus sed, placerat tempor tortor. Aliquam auctor mauris sit amet rutrum dignissim. Suspendisse rhoncus, urna sit amet laoreet ultricies, magna nisi mattis ex, ac bibendum enim odio vitae lectus. Praesent at magna risus.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Folders</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel elit eu justo elementum pharetra. Suspendisse pharetra sit amet ante vel tristique. </p>
        <p class="btn btn-default">@Html.ActionLink("Go >>", "Index", "Folder", new { area = "" }, null)</p>
    </div>
    <div class="col-md-4">
        <h2>Clouds</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel elit eu justo elementum pharetra. Suspendisse pharetra sit amet ante vel tristique. Phasellus facilisis non turpis a sagittis. Cras massa purus, iaculis ut purus sed, placerat tempor tortor. Aliquam auctor mauris sit amet rutrum dignissim. Suspendisse rhoncus, urna sit amet laoreet ultricies, magna nisi mattis ex, ac bibendum enim odio vitae lectus. Praesent at magna risus.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Devices</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel elit eu justo elementum pharetra. Suspendisse pharetra sit amet ante vel tristique. </p>
        <p class="btn btn-default">@Html.ActionLink("Go >>", "Index","Device", new { area = "" }, null)</p>
    </div>
</div>
