
@{
    ViewBag.Title = "ConfirmFlickrConnection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="background-transparent">
    <h2 class="text-center">Success!</h2>
    <p>@Html.ActionLink("Go back to Cloud View", "Index", "Cloud", new { area = "" }, new { @class = "btn btn-default center-block" })</p>
</div>

