@model WebApplication.ViewModels.CloudViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="background-transparent">
    <h2 class="text-center">Cloud Accounts</h2>
    <ul class="list-group">
        @foreach (var cloud in Model.Clouds)
        {
        <li class="list-group-item">
            <span class="provider">@cloud.Provider.ToString()</span>
            <span class="provider">@cloud.Login</span>
            @Html.ActionLink("Disconnect", "DeleteCloud", "Cloud", new { cloudId = cloud.Id }, new { @class = "btn btn-default remove-button " })
            <!--@Html.ActionLink("Manage", "ManageCloud", "Cloud", new { cloud = cloud.Login, cloudId = cloud.Id }, new { @class = "btn btn-default remove-button" })-->

        </li>
        }
    </ul>
    <p class="">@Html.ActionLink("Connect to a New Cloud", "NewCloud", "Cloud", new { area = "" }, new {@class = "btn btn-default center-block remove-link" })</p>
</div>

