@model WebApplication.ViewModels.CloudViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cloud Accounts</h2>
<ul class="list-group">
    @foreach (var cloud in Model.Clouds)
    {
        <li class="list-group-item">
            <span class="provider">@cloud.Provider.ToString()</span>
            <span class="provider">@cloud.Login</span>
            <p class="btn btn-default remove-button">@Html.ActionLink("Disconnect","DeleteCloud", "Cloud", new { cloudId = cloud.CloudId }, null)</p>
        </li>
    }
</ul>
<p class="btn btn-default center-block">@Html.ActionLink("Connect to a New Cloud", "NewCloud", "Cloud", new { area = "" }, null)</p>


