@model  WebApplication.ViewModels.MangeCloudViewModel
@{
    ViewBag.Title = "ManageCloud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="background-transparent">ManageCloud : @(Model.Login)</h2>

