
@{
    ViewBag.Title = "NewCloud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="background-transparent">
    <h2 class="text-center">Connect with a provider account</h2>
    @using (Html.BeginForm("ConnectWithProvider", "Cloud", FormMethod.Post))
    {
        @Html.DropDownList("Providers",null, new { @class = "form-control center-block" })
        <h3 class="text-center">Your Custom Name for Account</h3>
        <input class="center-block pair-name" type="text" name="accountName" />
        <input class="btn btn-primary center-block" type="submit" value="Connect" />
    }
</div>

