
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
@if(Session["UserId"] != null){
    Response.Redirect("~/Home");
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
</head>
<body class="login">
    <div>
        <div class="login-box center-block">
            <h2 class="text-center"> Sign in to continue</h2>
            <img class="center-block" src="~/Images/loginIcon.png" />
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <input class="center-block form-control input-control" type="text" placeholder="username" name="login"></input>
                <input class="center-block form-control input-control" type="password" placeholder="password" name="password"></input>
                if(TempData["LoginFailed"] != null)
                {
                    <p class="login-failed">Password or Login not found</p>
                }

                <input class="btn btn-primary center-block" type="submit" value="login" />

            }
            @Html.ActionLink("Register", "Register", "Login", new { area = "" }, new { @class = "text-center" })
        </div>
    </div>
</body>
</html>
