@model WebApplication.ViewModels.DeviceViewModel
@{
    ViewBag.Title = "Device";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Devices</h2>
<ul>
    @foreach(var device in Model.Devices)
    {
        <li>
            @device.Name
            <ul>
                @foreach(var folder in device.Folders)
                {
                    <li>@folder.Name</li>
                }
            </ul>
        </li>
    }
</ul>

