@model WebApplication.ViewModels.NewFolderViewModel
@{
    ViewBag.Title = "NewFolder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="background-transparent">
    <h2>Select the cloud from which you want to add a folder from</h2>
    @using (Html.BeginForm("SelectFolder", "Folder", FormMethod.Post))
    {
        @Html.DropDownList("Clouds")
        <input type="hidden" name="deviceId" value="@Model.DeviceId" />
        <input class="btn btn-primary center-block" type="submit" value="Select" />
    }
</div>

