@model WebApplication.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="background-transparent">
    <h2 class="text-center">@Model.Message</h2>
    @Html.ActionLink("Go back to Account", "Index", "Account", new { area = "" }, new { @class = "btn btn-default center-block" })
</div>

