@model WebApplication.ViewModels.AccountViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hello @Model.Account.Login </h2>
@using (Html.BeginForm("ChangeLogin", "Account", FormMethod.Post))
{
    @Html.EditorFor(model => model.Account.Login, new { id = Model.Account.Id })
    <input type="hidden" name="id" value="@(Model.Account.Id)"></input>
    <input type="submit" class="btn-primary" value="change login"/>

}
